html, body {
	margin: 0;
	padding: 0;
}

#splash {
	margin-left: 0;
    padding-left: 0;
	height: 45rem;
	background-image: url("../img/sun.JPG");
	background-color: #37959C;
	background-repeat: none;
	background-size: cover;
}


.heading {
	
	padding-top: 4rem;
	text-align: center;
	color: aliceblue;
	margin-left: 0;
    padding-left: 0;
	
}

article {
	
    padding-bottom: 0;
	padding-top: 2rem;
	background-color: #445567;
	color: white;
}


ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #556870;
	opacity: 0.8;
	
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li a {
	font-size: 1rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#right {
	background-color: #667779; 
	font-size: 1rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	border-left: 1px solid #bbb;
	float: right;
}


h2 {
	margin-left: 1%;
}



p {
	font-family:verdana;
	margin-left: 1%;
	margin-bottom: 0;
	margin-top: 0;
}
