@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	background: url("../img/polka-dots.png");
	background-attachment: fixed;
}
#splash {
	margin-left: 0;
	margin-top: 0;
  padding-left: 0;
	height: 85%;
	background: url("../img/sun.JPG");
	background-color: #353d48;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: 5px solid #333333;
}

@media screen and (min-width: 768px) {
  #splash {
    height: 100%;
  }
}

.heading {
	padding-top: 10%;
	text-align: center;
	color: #ffffff;
	opacity: 0.98;
} #heading-main {
	font-family: 'Roboto Slab';
} #heading-sub {
	font-family: 'Open Sans Condensed';
}
.page-header {
	text-shadow: 1px 1px 3px #bbbbbb, -1px 0px 3px #bbbbbb;
}

#inspirational{
	padding: 10px;
	box-shadow: 2px 2px 2px #666666, -2px 0px 2px #666666;
	border-radius: 5px;
	background-color: #333333;
	opacity: 0.5;
	color: white;
}

#navbar {
	opacity: 0.5;
	-webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

article {
	background: transparent;
	padding: 3rem 5px 3rem 5px;
	background-color: transparent;
	color: white;

}

.section {
	background-color:  #21252c;
	border: 2px solid #21252c;
	box-shadow: 1.5px 1.5px 2px #13161a, -1.5px -1.5px 2px #13161a;
	padding: 0px 5px 20px 5px;
}

article > h2, article > div > h2 {
	margin-left: 1%;
	color: #aliceblue;
	font-family: 'Ubuntu', verdana;
}

.well {
	background: url("../img/polka-dots.png");
	background-attachment: fixed;
}

.table {
	background-color: #3d3d5c;
	border-color: #333333;
	padding-bottom: 0px;
}
thead {
	background-color: #29293d;
}
.nav-tabs > li > a {
	color: #a3b4c2;
}

p, span {
	font-family: 'Open Sans', verdana;
	font-size: 18px;
	margin-left: 1%;
	margin-bottom: 0;
	margin-top: 0;
}

#contact > div > div {
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.contact-button:hover, .contact-button:focus {
	text-align: right;
}

#break {
	width: 100%;
	height: 100px;
	background: transparent;
}

#code-entered {
	align: center;
	width: 0px;
	opacity: 0;
	background: transparent;
}
