html, body {
	margin: 0;
	padding: 0;
}

#splash {
	margin-left: 0;
    padding-left: 0;
	background-image: url("sunset.jpg");
	background-color: #37959C;
	background-repeat: none;
	background-size: cover;
}


#heading {
	text-align: center;
	color: aliceblue;
	margin-left: 0;
    padding-left: 0;
}



ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #556870;
	opacity: 0.8;
	
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


h2 {
	margin-left: 1%;
}



p {
	font-family:verdana;
	margin-left: 1%;
}
